html,
body{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    margin:0;

}

a{
    color: black;
}

h1{
    font-size: 35px;
}

p{
    font-size: 20px;
}

.section-wrapper{
    background-color: lightgreen;
    padding: 25px;
}

.interior{
    background-color: lightpink;
    border: 10px solid green;
    margin: 40px;
    padding: 40px;
}

.flex-interior{
    display:flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    max-width: 900px;
    padding: 40px 0;
}

.flex-parent{
    background-color: beige;
    border: 5px solid brown;
    flex-basis: 40%;
    flex-shrink: 0;
    display:flex;
    gap: 25px;
    padding: 25px;
    height: 300px;
    width: 100%;
}

.flex-parent:first-of-type{
    flex-basis: 100%;
    padding: 40px;
}

.flex-parent-stacked{
    flex-direction: column;
}

.flex-parent h1{
    color:brown;
}

.flex-child{
    background-color: cornsilk;
    border:4px solid rgb(96, 0, 128);
    flex-basis: 33%;
    min-height: 100px;
}

.flex-child-big{
    align-items: center;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 800 px;
}

